# Dependencies
node_modules/
**/node_modules/

# Environment
.env
**/.env

# Build
dist/
build/

# Logs
*.log

# Editor
.vscode/
.idea/

# Ignore all Markdown files
*.md

# But keep the main README
!README.md